#landing-container {
    background-image: url(images/IMG_1231.JPEG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;   
}

#landing-picture {
    border: 1px solid black;
    background-color: aqua;
    background-image: url(images/IMG_0680.JPEG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

#landing-name-job {
    margin-bottom: 30px;
    text-align: center;
    font-size: x-large;
    color: white;
}

#about_me {
    text-align: center;
    font-size: large;
    color: white;
    padding: 25px;
    float: left;
    width: 75%;
    height: 50%;
    text-align: center;
}

#description-container {
    background-color: rgb(23, 82, 100);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#experience {
    width: 200px;
    height: 50%;
    color: white;
    background-color: rgb(62, 125, 129);
    float: right;
    padding: 10px;
    margin: 0 auto;
    border: 6px solid white;    
}

.portfolio-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aqua;
    background-image: url(images/IMG_1649.JPEG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    background-color: black;
    position: relative;
    top: 55px;
}

h1 {
    font-family: fantasy, Times, sans-serif;
    font-size: 250%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}